
RippleDetection/data/pat01_HIPP.mat
RippleDetection/data/pat01_HIPP_supplement.mat
RippleDetection/data/pat01_NC.mat
RippleDetection/data/pat01_NC_supplement.mat
RippleDetection/data/pat02_HIPP.mat
RippleDetection/data/pat02_HIPP_supplement.mat
RippleDetection/data/pat02_NC.mat
RippleDetection/data/pat02_NC_supplement.mat
